<div class="app-sidebar sidebar-shadow">
    <!--Logo PC-->
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!--Logo Mobil-->
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">General</li>
                <!--Mi empresa-->
                <li>
                    <!-- class="mm-active" - se agrega la class para que salga desplegado el menu-->
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Mi Empresa
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="elements-buttons-standard.html">
                                <i class="metismenu-icon"></i>
                                Empresa
                            </a>
                        </li>
                        <li>
                            <a href="elements-dropdowns.html">
                                <i class="metismenu-icon">
                                </i>Sucursales
                            </a>
                        </li>
                        <li>
                            <a href="elements-icons.html">
                                <i class="metismenu-icon">
                                </i>Cajas
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Usuario-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Usuario
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Usuarios
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Accesos
                            </a>
                        </li>

                    </ul>
                </li>
                <!--Productos o servicios-->
                <li>
                    <!-- class="mm-active" - Esto es para que salga desplegado el menu-->
                    <a href="#">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Productos o Servicios
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Categorias
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Ingresar Productos
                            </a>
                        </li>
                        <li>
                            <a href="~/Producto/Index">
                                <i class="metismenu-icon">
                                </i>Lista Productos
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Lista Servicios
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Kardex de Productos
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Entradas y salidas de Productos
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Transferencia
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Lista Transferencia
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Conversion de Pack
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Consultas
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Productos Mas Vendidos
                            </a>
                        </li>
                        <li>
                            <a href="components-accordions.html">
                                <i class="metismenu-icon">
                                </i>Consulta Precios
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Proveedor-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Proveedor
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Proveedores
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Cliente-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Cliente
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Clientes
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Ventas Productos-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Ventas Productos
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Config Documentos
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Ingreso Venta - POS
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Cotizacion
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista Cotizaciones
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Nota Credito
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista Nota Credito
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista Documentos Ventas
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista Detalle
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Ventas por Cobrar
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista de Cobrar
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Facturacion Electronica-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Facturacion Electronica
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Configuracion
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Documentos Electronicos
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista Resumen diario Boletas
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista Comunicacion de Baja
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista de Guias De Remision
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Mercaderia-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Mercaderia
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Guia Entrada Salida
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Lista Guias
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Tesoreria-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Tesoreria
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Tesoreria
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Reporte Tesoreria
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Reportes-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Reportes
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Resumen
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Ventas Compras
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Contabilidad-->
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Contabilidad
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Calculando IGV
                            </a>
                        </li>
                        <li>
                            <a href="components-tabs.html">
                                <i class="metismenu-icon">
                                </i>Kardex Valorizado
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>